
<p>
  <strong>Restaurant:</strong>
  <%= @post.restaurant %>
</p>

<p>
  <strong>Review:</strong>
  <%= @post.review %>
</p>

<hr>
<hr>

<%= link_to 'Edit', posts_path %>
<%= link_to 'Back', posts_path %>
